page-home {


 
}

.pic{
    background-image: url("../../assets/imgs/photo.jpg");
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
  
}

.p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.h{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}